.blog 
  padding: 8.25rem 0
  &__title 
    margin-bottom: 2.875rem
  &__filter-box
    display: flex
    justify-content: flex-start
    flex-wrap: wrap
    margin-bottom: 2.875rem
  &__filter-item
    margin-right: 2rem
    &:last-child
      margin-right: 0
  &__filter-btn
    background-color: transparent
    font-size: 2rem
    line-height: 48px
    letter-spacing: -0.03em
    color: $color-text-dark
  &__filter-btn--active
    background-color: $color-orange
    color: $color-text-light
    padding: 0 15px
  &__list 
    display: grid
    grid-template: repeat(2, auto) / repeat(3, 1fr)
    column-gap: 2rem
    row-gap: 4rem
  &__list-item  
    transition: all .5s   
    &:hover
      box-shadow: 0 1px 1px 0  #939191, 0 1px 10px 0  #939191
      transform: scale(1.05)
      transition: all .3s 
  &__list-image 
    margin-bottom: 1.5rem
    width: 100%
  &__list-posted 
    line-height: 28px
    color: $color-copy
    padding: 0 6px
    margin-bottom: 1rem
  &__list-title 
    font-weight: 700
    font-size: 2rem
    line-height: 48px
    letter-spacing: -0.03em
    color: $color-text-dark
    padding: 0 6px
    margin-bottom: 1rem
  &__list-text 
    line-height: 28px
    padding: 0 6px
    color: $color-blog-text
@media ( max-width: 900px)
  .blog 
    padding: 7rem 0
    &__list 
      grid-template: repeat(3, auto) / repeat(2, 1fr)
@media ( max-width: 550px)
  .blog 
    padding: 5rem 0
    &__list 
      grid-template: repeat(6, auto) / repeat(1, 1fr)
@media ( max-width: 450px)
  .blog 
    &__filter-box
      justify-content: center
      margin-bottom: 1rem
    &__filter-item
      margin-bottom: 1rem
    