.burger
  display: none
.header
  height: 58.5rem
  // &__inner
    // display: grid
    // grid-template-rows: 5.625rem 1fr		
    // row-gap: 5.375rem
    // margin: 0rem 3rem 0rem 0rem

  &__top-menu 
    display: grid
    grid-template-columns: max-content 1fr max-content
    column-gap: 2rem
    align-items: center   
    height: 100% 
    margin: 0rem 0rem 5rem 0rem 
  &__nav-list 
    display: flex
    justify-content: end        
  &__nav-item
    margin-right: 2.625rem
    &:last-child
      margin-right: 0.2rem 
  &__nav-link    
    transition: all .3s    
    &:hover
      color: $color-orange
  &__tel-box
    display: flex
    justify-content: center
    align-items: center
    flex-wrap: nowrap
    height: 100%
    &:before
        content: " "
        background: rgba(147, 145, 145, 0.36)
        width: 1px
        height: 2.625rem
        margin-right: 1.875rem
  &__tel-icon
    background: url("../images/icons/Call-icon-header.svg") center no-repeat, $color-icon-tel 
    width: 40px
    height: 40px
    border-radius: 50%
    margin: 0 0.875rem 0 0
  &__tel-inner
    white-space: nowrap
    line-height: 1.75rem
    letter-spacing: 0.5px
  &__tel-name 
    font-weight: 500      
  &__namber
    font-weight: 600
    font-size: 1.125rem
  &__title
    font-weight: 700
    font-size: 4rem
    line-height: 5.25rem
  &__button
    font-weight: 600
    font-size: 1.125rem
  &__play 
    font-weight: 500
  &__working-item-1
    font-weight: 500
    color: $color-copy
  &__working-item-2
    font-weight: 600
    font-size: 1.125rem
/* ============================== HEADER BODY ============================== */
.header
  &__body-inner
    display: grid
    grid-template: 59% auto 1fr / repeat(2, 1fr)
    column-gap: 4.62rem
    height: 100%
  &__image-box
    grid-column: 2 / 3
    grid-row: 1 / 4
    align-self: center
    position: relative
    margin: 0rem 1rem 0rem 0rem
  &__image
    max-width: 100%
    object-fit: contain
  &__service
    display: flex
    max-height: 6.375rem
    font-weight: 600
    font-size: 1.5rem
    line-height: 2.25rem
    letter-spacing: -0.03em
    background-color: $color-text-light
    border-radius: 59px
    box-shadow: 0 0 0px 13px rgba(221, 219, 219, 0.353)
    align-items: center
    padding: 0.875rem
    position: absolute
    top: 13.3%
    left: -5%    
  &__circle
    background: $color-icon-tel
    border-radius: 50%
    padding: 1rem 0.8125rem
    color: $color-text-light
    margin-right: 0.875rem
    &>span
      font-size: 1rem
  &__service-text
    margin-right: 1.625rem
  &__rating
    display: inline-flex
    align-items: center
    max-height: 6.375rem
    background-color: $color-text-light
    border-radius: 3.75rem
    box-shadow: 0 0 0px 13px rgba(221, 219, 219, 0.353)
    line-height: 24px
    position: absolute
    top: 74.36%  
    left: 45%
    padding: 30px 35px 24px 36px
    z-index: 1
  &__account
    margin-right: 1rem
  &__account-number
    font-weight: 600
    font-size: 1.5rem
  &__account-text
    font-weight: 500
    font-size: 1rem
  &__title
    font-size: 4rem
    align-self: end
    padding: 0 0 2.125rem 0
  &__main-box 
    padding: 0 0 2.375rem 0
  &__button
    margin-right: 2.94rem       
  &__play
    display: inline-block      
    & svg
      margin-right: 0.5rem
      transform: translateY(23%)
  &__working
    padding-top: 1rem
    display: grid
    grid-template-columns: max-content 1fr
    column-gap: 0.81rem
    word-spacing: 1.2px
  &__main-icon
    background: url("../images/icons/Clock-icon-header.svg") center no-repeat
    width: 31px
    height: 31px
    transform: translateY(23%)
  &__working-item-1
    margin-bottom: 0.75rem

@media (max-width: 1200px)
  .header
    height: 100%
    padding: 0rem 0rem 10rem 0rem
    &__rating
      left: 28%
    &__service
      left: 4%
@media (max-width: 1100px)
  .header
    &__inner
      margin: 0rem 0rem 0rem 0rem
    &__body-inner
      column-gap: 2rem
    &__title
      font-weight: 600
      font-size: 3.5rem
      line-height: 4rem
    &__rating
      left: 22%
@media (max-width: 1000px)
  .header
    height: 100%
    &__top-menu 
      column-gap: 1rem
    &__nav-item
      margin-right: 1.5rem
    &__tel-box
      &:before
        margin-right: 1.5rem
    &__body-inner
      grid-template: repeat(3, auto) max-content / 1fr
      row-gap: 2rem
      column-gap: 0
      width: 100%
    &__image-box
      grid-column: 1
      grid-row: 4 
      align-self: center
    &__rating
      left: 4%
    
    &__title
      padding: 0rem 0rem 0rem 0rem
    &__main-box
      padding: 0rem 0rem 0rem 0rem
    &__working
      padding-top: 0
// @media (max-width: 900px)
//   .header
//     &__body-inner
//       width: 80%
@media (max-width: 800px)
  .header
    padding-top: 6rem
    &__top-menu 
      grid-template: 1fr 1fr 1fr / 1fr
      justify-items: center
      position: fixed
      top: 0
      right: 0   
      bottom: 0  
      height: 100vh
      width: 100vw
      z-index: 30
      margin: 5rem 0rem 0rem 0rem
      transform: translate(100%, -100%)

    &__nav-list 
      flex-direction: column
    &__top-menu--active
      transform: translate(0%, 0%)
      transition: all .5s
    &__nav-item
      margin: 0rem 0rem 2rem 0rem
      font-size: 1.5rem
      &:last-child
        margin: 0rem 0rem 0rem 0rem
    &__tel-box
      &:before
        display: none
    &__top-menu--active
      display: grid
  .burger
    display: block
    background: $color-brands
    border-radius: 50%
    height: 70px
    width: 70px
    position: fixed 
    top: 20px
    right: 20px
    cursor: pointer
    z-index: 30
    &__icon  
      position: absolute
      top: 22px
      left: 14px
      z-index: inherit
      span        
        display: block        
        height: 2.5px
        width: 40px
        border-radius: 4px
        background-color: $color-text-dark
        margin-bottom: 8px
        transition: all .8s
        &:last-child
          margin: 0rem 0rem 0rem 0rem
    &__background
      display: none
      height: 50px
      width: 50px
      border-radius: 50%
      position: fixed
      top: 30px 
      right: 30px
      background-image: linear-gradient(45deg, $color-copy 23%, $color-brands)
      z-index: 9
      transition: all 1.8s
  .buger--active    
    span
      margin-bottom: 0
      &:nth-child(1)
        transform: translateY(11px) rotate(-45deg)
        transition: all .5s
      &:nth-child(2)
        display: none
        transition: all .05s
      &:nth-child(3)
        transform: translateY(9px) rotate(45deg)
        transition: all .5s
  .buger--active .burger__background
    display: block
    transform: scale(50)
    transition: all 1.8s
    
@media (min-width: 479px) and (max-width:550px)
  .header
    &__title
      display: inline-block
      font-size: 3rem
    &__service
      padding: 0.575rem
    &__rating
      width: 60%
      padding: 14px 0px 14px 1.5rem       
    &__account
      margin-right: .5rem
@media (min-width: 399px) and (max-width: 480px)
  .header    
    &__rating
      width: 75%
@media (max-width: 400px)
  .header
    padding-top: 8rem
    &__rating
      width: 90%
      top: 60%