.process 
  padding: 130px 0
  &-wrap
    display: grid
    grid-template-columns: 1fr 1fr
    gap: 2.25rem 
  &__title 
    max-width: 32.75rem 
    margin: 0.75rem  0 1rem 0
  &__text
    max-width: 27.25rem 
    line-height: 1.75rem 
    opacity: 0.6
    margin-bottom: 2rem
  &__btn
    font-size: 1.125rem 
  &__right
    display: grid
    grid-template-rows: 1fr 1fr 1fr
    row-gap: 2.125rem     
  &__box 
    display: flex
  &__box-number
    margin: 6px 28px 0 0
    position: relative
  &__box-number-num
    font-size: 2rem 
    color: $color-text-light
    font-weight: 800    
    position: absolute
    top: 0.875rem 
    left: 1rem 
  &__box-number-line
    position: absolute
    top: 5.625rem 
    left: 2.25rem 
  &__box-content
    max-width: 21rem 
  &__box-topik
    font-weight: 700
    font-size: 2rem 
    line-height: 3rem 
    letter-spacing: -0.02em
    margin-bottom: 8px
  &__box-desc
    font-weight: 600
    font-size: 1.125rem 
    line-height: 2rem 
    opacity: 0.6
